body {
    height: 100vh;
    /* overflow: hidden; */
}

em {
    font-style: italic;
}

ol {
    list-style: decimal;
}

.flowRoot {
    display: flow-root;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.pointer:hover {
    cursor: pointer;

}

.bg-orange {
    background: #FF8C00;
}

#mainComponent #recipesComponent,
#mainComponent #informationsComponent {
    overflow-y: scroll;
    height: 80vh;
}

#mainComponent #recipesComponent #recipeComponent:hover {
    color: #dc3545 !important;
}

@media all and (min-width: 320px) {
    #headerComponent{
        height: 15vh;
    }

    h1{
        font-size: 1.8rem;
    }

    .headTitle{
        margin: 25px 0 0 0 !important;
    }

    h1 > i::before{
        display: none;
    }
    
    #mainComponent #recipesComponent,
    #mainComponent #informationsComponent {
        height: 85vh;
    }
}

@media all and (min-width: 768px){
    h1 > i::before{
        display: block;
    }

    #headerComponent {
        height: 20vh;
    }
}