body{
    height: 100vh;
}

.pointer:hover{
    cursor: pointer;
}

#mainComponent{

}
    #mainComponent #recipesComponent,
    #mainComponent #informationComponent{
        overflow-y: scroll;
    }