body {
    height: 100vh;
    /* overflow: hidden; */
}

em {
    font-style: italic;
}

ol {
    list-style: decimal;
}

.flowRoot {
    display: flow-root;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.pointer:hover {
    cursor: pointer;

}

.bg-orange {
    background: #FF8C00;
}

#headerComponent {
    height: 20vh;
}

#mainComponent #recipesComponent,
#mainComponent #informationsComponent {
    overflow-y: scroll;
    height: 80vh;
}

#mainComponent #recipesComponent #recipeComponent:hover {
    color: #FFC107 !important;
}